* {
  font-family: "Ropa Sans";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#card1 {
  background-image: url(/assets/food/abstract-gf47f4e5d1_1920.jpg);
  background-size: cover;
}
#card1 h2::before {
  content: "ham";
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 0.7rem 0.5rem;
}

#card2 {
  background-image: url(/assets/food/barbecue-g4c8d4aa81_1920.jpg);
  background-size: cover;
}
#card2 h2::before {
  content: "barbecue";
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 0.7rem 0.5rem;
}

#card3 {
  background-image: url(/assets/food/cookies-gb9765aee6_1920.jpg);
  background-size: cover;
}
#card3 h2::before {
  content: "cookie";
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 0.7rem 0.5rem;
}

#card4 {
  background-image: url(/assets/food/pancakes-g91031c6a8_1920.jpg);
  background-size: cover;
}
#card4 h2::before {
  content: "pancake";
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 0.7rem 0.5rem;
}

#card5 {
  background-image: url(/assets/food/pasta-gdc8248a12_1920.jpg);
  background-size: cover;
}
#card5 h2::before {
  content: "pasta";
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 0.7rem 0.5rem;
}

#card6 {
  background-image: url(/assets/food/pizza-g0d66a5ff8_1920.jpg);
  background-size: cover;
}
#card6 h2::before {
  content: "pizza";
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 0.7rem 0.5rem;
}

.navbar__nav, .socialMedia__icons {
  list-style: none;
}

.logo__slogan {
  font-size: 3.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  text-transform: uppercase;
  text-shadow: 2px 2px 1px rgba(165, 42, 42, 0.9);
}

.navbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.navbar__link {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
  text-decoration: none;
}
.navbar__link:hover {
  color: red;
}

.servicos {
  min-width: 1170px;
  margin: auto;
  padding: 1.5rem 0;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  justify-content: space-around;
}

.servicos__card {
  width: 31%;
  margin-bottom: 1rem;
  margin: 1rem;
  height: 400px;
  box-shadow: 8px 8px 10px #999;
}

.m-1 {
  margin: 1rem;
}

.mx-1 {
  margin: 0 1.2rem;
}

.p-1 {
  padding: 1rem;
}

.containerBox {
  min-width: 1170px;
  margin: auto;
  padding: 1.5rem 0;
  width: 100%;
  position: relative;
  background-image: url("/assets/background/restaurantebg.jpg");
  background-size: 88%;
  background-position-y: -310px;
}

.header-heightMiddle {
  height: 300px;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.text-white {
  color: #fff;
}

@media (max-width: 1100px) {
  .containerBox,
  .navbar__nav {
    flex-flow: column;
    min-width: 100%;
  }
  .navbar {
    z-index: 1;
  }
  .socialMedia {
    z-index: 2;
  }
  .socialMedia__icons {
    flex-flow: column;
  }
  .socialMedia__item {
    margin: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
